<div id="top1">
    <div id="left_head">
        <span class="glyphicon glyphicon-home"></span>
        <a href="/"><span class="span1">天猫首页</span></a>&nbsp;&nbsp;
        <span>喵,欢迎来到天猫</span>&nbsp;&nbsp;


        {% if request.user.is_authenticated %}
            <span>{{ request.user.username }}</span>
            <a href="{% url 'login_out' %}">退出</a>
        {% else %}
            <a href="{% url 'login' %}">请登录</a>&nbsp;&nbsp;
            <a href="{% url 'register' %}">免费注册</a>
        {% endif %}
    </div>
    <div id="right_head">
        <a href="#">我的订单</a>
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <a href="{% url 'list_result' %}" id="car_id">购物车
            {% if request.user.is_authenticated %}
                {{ count }}件
            {% endif %}
        </a>
    </div>
</div>