{% extends 'base.html' %}



{% block page_head %}
{% endblock %}



{% block page_main %}
       <table>
            <tr>
                <th><input type="checkbox">全选</th>
                <th>商品详情</th>
                <th>单价</th>
                <th>数量</th>
                <th>总价</th>
                <th>操作</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><img src="#"><a href="#">商品详情</a></td>
                <td>11.12</td>
                <td><input type="number" value="10"></td>
                <td>111.2</td>
                <td><a href="#">删除</a></td>

            </tr>
       </table>
{% endblock %}



{% block page_footer %}
{% endblock %}
